In [1]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.18.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue']})

   numbers colors
0        1    red
1        2  white
2        3   blue

In [5]:
x = np.random.standard_normal(3)
y = np.arange(3)
pd.DataFrame({'X':x, 'Y':y})

          X  Y
0  1.804718  0
1  0.053575  1
2 -0.738456  2

In [9]:
serie_1 = pd.Series(np.random.randn(3), index=['a', 'b', 'c'])
serie_2 = pd.Series([100,32,43], index=['a', 'b', 'c'])
serie_3 = pd.Series([2,34,445], index=['a', 'b', 'c'])
pd.DataFrame([serie_1, serie_2, serie_3])

            a          b           c
0   -0.554439  -1.232287    0.048268
1  100.000000  32.000000   43.000000
2    2.000000  34.000000  445.000000