In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.0.1-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 3.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 48.9 MB/s eta 0:00:01
Collecting numpy>=1.13.3
  Downloading numpy-1.18.1-cp37-cp37m-manylinux1_x86_64.whl (20.1 MB)
     |████████████████████████████████| 20.1 MB 22.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.18.1 pandas-1.0.1 pytz-2019.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
ls

 DataSet/                     Plantillas/        Untitled.ipynb
'Ejercicio 10 carlos.ipynb'   superheroes.json

## Leer Json

In [4]:
superheroes = pd.read_json("superheroes.json")

In [7]:
superheroes

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

In [14]:
superheroes["members"]

0    {'name': 'Molecule Man', 'age': 29, 'secretIde...
1    {'name': 'Madame Uppercut', 'age': 39, 'secret...
2    {'name': 'Eternal Flame', 'age': 1000000, 'sec...
Name: members, dtype: object

In [21]:
superheroes["members"][0]

{'name': 'Molecule Man',
 'age': 29,
 'secretIdentity': 'Dan Jukes',
 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}

In [22]:
superheroes["members"][0]['powers']

['Radiation resistance', 'Turning tiny', 'Radiation blast']

In [23]:
superheroes["members"][1]['powers']

['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']

## Cambiar a DataFrame

In [11]:
pd.DataFrame(superheroes["members"][0])

           name  age secretIdentity                powers
0  Molecule Man   29      Dan Jukes  Radiation resistance
1  Molecule Man   29      Dan Jukes          Turning tiny
2  Molecule Man   29      Dan Jukes       Radiation blast

In [12]:
pd.DataFrame(superheroes["members"][1])

              name  age secretIdentity               powers
0  Madame Uppercut   39    Jane Wilson  Million tonne punch
1  Madame Uppercut   39    Jane Wilson    Damage resistance
2  Madame Uppercut   39    Jane Wilson  Superhuman reflexes

In [13]:
pd.DataFrame(superheroes["members"][2])

            name      age secretIdentity                   powers
0  Eternal Flame  1000000        Unknown              Immortality
1  Eternal Flame  1000000        Unknown            Heat Immunity
2  Eternal Flame  1000000        Unknown                  Inferno
3  Eternal Flame  1000000        Unknown            Teleportation
4  Eternal Flame  1000000        Unknown  Interdimensional travel

In [33]:
list_eternal_flame = superheroes["members"][2]['powers']

In [39]:
secretIdentity = superheroes["members"][2]['secretIdentity']

In [40]:
secretIdentity

'Unknown'

In [41]:
age = superheroes["members"][2]['age']

In [42]:
age

1000000

In [43]:
name = superheroes["members"][2]['name']

In [44]:
name

'Eternal Flame'

In [45]:
str_powers = ', '.join(list_eternal_flame)

In [46]:
str_powers

'Immortality, Heat Immunity, Inferno, Teleportation, Interdimensional travel'

In [49]:
pd.DataFrame(data = {'name': name, 'age': age, 'secretIdentity' : secretIdentity, 'powers' : str_powers}, index=[0])

,name,age,secretIdentity,powers
0,Eternal Flame,1000000,Unknown,"Immortality, Heat Immunity, Inferno, Teleporta..."