In [1]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [9]:
ls

Data/  Ejemplos/

In [6]:
cd ..

/home/jovyan/Bloque 3/Sesion 3

## Leer Json

In [19]:
superheroes = pd.read_json("Data/superheroes.json", typ = "series")

In [20]:
superheroes

squadName                                      Super Hero Squad
homeTown                                             Metro City
formed                                                     2016
secretBase                                          Super tower
active                                                     True
members       [{'name': 'Molecule Man', 'age': 29, 'secretId...
dtype: object

In [13]:
superheroes["members"]

0    {'name': 'Molecule Man', 'age': 29, 'secretIde...
1    {'name': 'Madame Uppercut', 'age': 39, 'secret...
2    {'name': 'Eternal Flame', 'age': 1000000, 'sec...
Name: members, dtype: object

In [14]:
superheroes["members"][0]

{'name': 'Molecule Man',
 'age': 29,
 'secretIdentity': 'Dan Jukes',
 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}

In [15]:
superheroes["members"][0]['powers']

['Radiation resistance', 'Turning tiny', 'Radiation blast']

In [16]:
superheroes["members"][1]['powers']

['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']

## Cambiar a DataFrame

In [24]:
import json

In [25]:
with open('Data/superheroes.json', 'r') as f:
    distros_dict = json.load(f)

In [26]:
distros_dict

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

In [37]:
pd.json_normalize(distros_dict)

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"[{'name': 'Molecule Man', 'age': 29, 'secretId..."

In [36]:
pd.json_normalize(distros_dict, "members", errors = 'ignore').head()

,name,age,secretIdentity,powers
0,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

In [ ]:
pd.json_normalize(distros_dict, "members", errors = 'ignore').head()